* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: georgia;
}

.background {
	z-index: -1;
	position: absolute;
	object-fit: cover;
}

/*navbar*/
.landp-navbar {
	display: flex;
	flex-wrap: flex;
}

.navbar {
	display: flex;
	flex-wrap: flex;
	height: 60px;
	background-color: #fd9a24;
	position: fixed;
	top: 25px;
	width: 100%;
	z-index: 1000;

}

.logo-container {
	display: flex;
	justify-content: center;
	width: 120px;
	height: 200px;
	padding: 0;
}
.nav-logo{
	width: 115px;
	height: 115px;
	padding: 0;
/*	margin-top: 20px;*/
	transition: width .5s;
	position: absolute;
	top: -15px;
	left: 50px;
/*	display: block;*/
	z-index: 560000;
}
.landp-nav-logo {
	width: 80px;
	height: 80px;
	padding: 0;
	margin-top: 20px;
	transition: width .5s;
	position: absolute;
	left: 50px;
	display: block;


}

.landp-navbar li {
	list-style-type: none;
	float: left;
	color: white;
	font-size: 1.5em;
	padding: 3em 1em;
	position: relative;
	left: 0px;
}

/*.navbar li {
	list-style-type: none;
	float: left;
	color: white;
	font-size: 1.5em;
	padding: .6em 1em;
	position: relative;
	left: 20px;
}*/

.landp-navbar a {
	text-decoration: none;
	color: white;
}
/*
.navbar a {
	text-decoration: none;
	color: white;
}*/

#active{
	color: #383838;
}

.landp-navbar a:hover {
	color: #ffcc00;
}

.navbar a:hover {
	color: #393939;

}
/*landing page content*/
.content {
	height: 50vh;
	display: flex;
	justify-content: center;

}
/*pages header*/
header {
	background-color: #383838;
	display: flex;
	justify-content: flex-end;
	height: 25px;
	padding: 5px 25px;
	color: #e0ebeb;
	position: fixed;
	top:0px;
	width:100%;
	z-index:999;

}

header a {
	color: #e0e0eb;
}
header h6 {
	color: #e0ebeb;
	margin-right: 50px;

}

header i {
	padding: 0px 5px;
}



/*landing page button*/
.startbutton {
	padding: 20px 50px;
	background-color: #ff3333;
	color: white;
	letter-spacing: 5px;
	font-size: 1.5em;
	border: none;
	border-radius: 20px;
	margin-top: 70%;
	display:block;
	text-decoration:none;

}

.startbutton:hover {
	background-color: #ff1a1a;
	cursor: pointer;
}



/*home about*/

.about-container {
	height: 85vh;
	background-color: #e0e0eb;
	display: flex;
	justify-content: center;
	padding: 25px;
}

.about-content {
	width: 80vw;
	text-align: center;
	padding: 25px;
	height: 75vh;
}

.p-15 {
	padding: 15px;
}
/*fonts*/
.alegreya {
	font-family: 'Alegreya Sans';font-size: 22px;
	letter-spacing: 3px;
}
.f-size40 {
	font-size: 40px;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.about-seemore {
	border-radius: 25px;
	width: 200px;
	padding: 15px 25px;
	background-color: #e0e0eb;
	display: block;
	margin: auto;
	text-decoration: none;
	color: #ff471a;
	border: 2px solid #ff471a;
	transition: background-color .5s ease-out ;
	margin-top: 5px;
}

.about-seemore:hover {
	border-radius: 25px;
	width: 200px;
	padding: 15px 25px;
	background-color: #fd9a24;
	display: block;
	margin: auto;
	text-decoration: none;
	color: #383838;
	border: 2px solid #383838;
	margin-top: 5px;
}

.home-image {
	background-color:#e0e0eb;
	height: 100vh;
	text-align: center;
}
.images-container {
	width: 70vw;
	height: 65vh;
	background-color: #383838;
	margin: auto;
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	object-fit: cover;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.img-container1 {
	display: flex;
	width: 31.5%;
	flex-wrap: wrap;
/*	background-color: pink;*/
	height: 97%;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	align-items: center;
}

.img-container1 img{
	width:100%;
	height:46%;
	object-fit: cover;
}

/*.img-container1 img{
	height: 49%;
	width: 33%;
	object-fit: cover;
	flex-wrap: wrap;

}
*/
.img-container2 {
	width: 31.5%;
/*	background-color: grey;*/
	height: 93%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.img-container2 img{
	width: 100%;
	background-color: grey;
	height: 100%;
	object-fit: cover;
}

.img-container3 {
	display: flex;
	width: 31.5%;
	flex-wrap: wrap;
/*	background-color: blue;*/
	height: 97%;
	padding-right: 10px;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.img-container3 img{
	width:100%;
	height: 46%;
	object-fit: cover;
}


/*products*/
.products-container {
	min-height: 120vh;
	max-height: 3000vh;
	background-color: #e0e0eb;
	display: flex;
	justify-content: center;
	padding: 25px;

}

.content img {
	display: none;
}
.products-content {
	width: 80vw;
	text-align: center;
	padding: 25px;
}
.products-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 25px;
}

.products-images img {
	width: 300px;
	height: 350px;
	object-fit: cover;
}

.products {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0px;
	height: 440px;

}
.products h4 {
	margin-bottom: 10px;
}
.products a {
	text-decoration: none;
	color: #ff471a;
	border: 2px solid #ff471a;
	padding: 5px 10px;
	border-radius: 25px;
}
.products a:hover {
	text-decoration: none;
	color: white;
	border: 2px solid #ff471a;
	padding: 5px 10px;
	border-radius: 25px;
	background-color: #ff471a;
}

.contact-us-container {
	background-color: #e0e0eb;
	width: 98.8vw;
	height: 70vh;

}

.contact-us-container img{
	z-index: -1;
}

.contact-us-content {
	width: 98.5vw;
/*	background-color: red;*/
	background-image: url("../../assets/images/contactus.jpg");
	background-size: 100vw 65vh;
	padding: 0px 25px;
	height: 65vh;


}

.contact-us-content img{
	z-index: -1;

}

.contact-details {
	text-align: center;
/*	padding: 25px;*/
/*	width: 30vw;*/
	margin:auto;
/*	background-color: red;*/
	padding: 10px;
	background-color: #e0e0eb;
}

.contact-details p {
	padding: 10px 0px;
}


.form-container {
	width: 25vw;
	height: 65vh;
/*	background-color: red;*/
	margin: auto;
	display: flex;
	justify-content: center;
/*	background-color: rgba(230, 230, 230, .5);*/
	border-radius: 15px;
	position:relative;


}
form h2{
	padding: 15px 0px;

}
.form-name {
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	color: #a3a3c2;
	margin-bottom: 25px;
	margin-top: 25px;
/*	margin-left: 50px;*/
	background-color: white;
	width: 240px;
}

.form-email {
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	color: #a3a3c2;
	margin-bottom: 25px;
/*	margin-left: 50px;*/
	background-color: white;
	width: 240px;

}

.form-message {
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	color: #a3a3c2;
/*	margin-left: 50px;*/
	margin-bottom: 25px;
	background-color: white;

}
.form-submit {
	padding: 15px 25px;
	border-radius: 25px;
	background-color: #e0e0eb;
	color: #ff471a;
	border: 2px solid #ff471a;
	text-align: center;
	margin-left: 60px;
}

.form-submit:hover {
	border: 2px solid #383838 ;
	color: #383838;
	background-color: #fd9a24;
	cursor: pointer;
}
footer {
	background-color: #383838;
	text-align: center;
	width: 100%;
	height: 10vh;
	align-items: center;
	color: #e0e0eb;
	padding: 10px;
}
footer a {
	padding: 0px 5px;
	text-decoration: none;
	color: white;
}

footer p {
	display: block;
}


/*pages heading pic*/
#extraright {
	margin-left: 25px;
}

.head-pic {
	width: 100%;
	height: 80vh;
/*	margin-top: 80px;*/

}
.head-pic img {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}

.head-text {
	font-size: 3.5em;
	position: absolute;
	left: 40%;
	bottom: 50%;
}

.page-container {
	width: 100%;
	min-height: 90vh;
	background-color: #e0e0eb;
	max-height: 200vh;

}

.page-content {
	width: 80vw;
	margin:auto;
	text-align: center;
}

.page-content img {
	width: 100%;
	height: 60vh;
	object-fit: cover;
	margin-top: 50px;
}
.gallery-img-container {
	width: 60vw;
	text-align: center;
	height: 70vh;
	background-color: white;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;

}
.gallery-img-container1 {
	width: 32%;
	height: 47%;
/*	background-color: blue;*/
	position: relative;

}

.gallery-img-container1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;

}



.gallery-img-container1 h3 {
	color: white;
	position: absolute;
	bottom: 20%;
	left: 5%;
}

.gallery-img-container1 p {
	color: white;
	position: absolute;
	bottom: 10%;
	left: 5%;

}

.gallery-img-container1 img:hover {
	opacity: 0.7;
}

.gallery-img-container1 img:hover + .img-viewmore {
	display: block;
}

.img-viewmore {
	text-decoration: none;
	position: absolute;
	color: white;
	border: 2px solid white;
	padding: 10px 25px;
	left: 30%;
	bottom: 40%;
	border-radius: 25px;
	display:none;
}

.img-viewmore:hover {
	border: 2px solid white;
	background-color: rgba(0,0,255,0.3);
}

.gallery-img-container1 img:hover + a, a:hover {
	display: inline-block;
}


#whitebackground {
	color: black;
}

.content-title {
	text-align: center;
	padding-top: 40px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  background-color: #383838;
  max-height: 85vh;
/*  margin-top: 85px;*/

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #383838;
  font-size: 65px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;

}

.subtext {
  color: #383838;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #383838;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 50px;
 
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.topnav {
  overflow: hidden;
  background-color: #fd9a24;
  position: fixed;
  width: 100%;
  z-index: 123125124;
  top:25px;
}
.topnav img {
	width: 60px;
	height: 60px;
	z-index: 123123123123;
	padding: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;

/*  margin-left: 100px;*/
}
#nopadding {
	padding: 0px 25px;
}
.topnav a:hover {
/*  background-color: #ddd;*/
  color: #383838;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


#mobile-h1 {
	display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
  	position: fixed;
  	width: 100%;
  	z-index: 1000;

  }
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }

  .about-container {
  	height: 120vh;
  }

  header {
  	display: none;
  }
  .topnav {
  	top: 0px;
  }

  .images-container {
  	width: 90vw;
  }

  .img-container1 {
  	width: 100%;

  }
  .img-container2 {
  	width: 100%;
  }
  .img-container3 {
  	width: 100%;
  }

  .home-image {
  	height: 230vh;
  	padding-top: 45px;
  }

  .text {
  	bottom: 30%;
  }

  .subtext {
  	bottom: 10%;
  }

  #putdown {
  	margin-top: 125vh;
  }

  .gallery-img-container {
  	width: 100vw;
  	margin: auto;

  }
  .img-viewmore {
  	display: block;
  	left: 30%;
  }

  .head-text {
  	left: 18%;
  	bottom: 50%;
  }
  .contact-us-content {
  	background-size: cover;
  }

  #gallery1{
  	width: 100%;
  }
  .gallery-img-container1 {
		width: 100%;
	}
	.gallery-img-container1 img {
	padding-bottom: 15px;

	}
	.gallery-container {
		height: 200vh;
		max-height: 3000vh;
	}

	footer {
		text-align: center;
		font-size: 1em;
	}

	.landp-navbar {
	display: none;
}

	.startbutton {
		width: 300px;
		padding: 10px 10px;
		margin-top: 400px;
		text-align: center;
	}

	.content img {
		display: block;
		position: absolute;
		top: 20%;
		left: 33%;
		width: 120px;
		height: 120px;
	}

	#mobile-h1 {
		display: block;
		position: absolute;
		margin-top: 75%;
		text-align: center;
	}

	.images-container {
		background-color: #e0e0eb;
	}

	.img-container3 {
		padding-right: 0px;
	}
}




@media only screen and (min-width: 401px) and (max-width: 960px) {
	.about-container {
		height: 60vh;
	}

	.gallery-img-container1 {
		width: 90vw;
	}
	.gallery-img-container1 img {
	padding-bottom: 25px;

	}
	.page-container {
		height: 300vh;
	}

	.gallery-container {
		height: 200vh;
	}

	.landp-navbar li {
		font-size: 1em;

	}

}